* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    scroll-behavior: smooth;
    outline: none;
}

/* OUTLINE WHEN FOCUSED FOR ACCESSIBILITY */
*:focus-visible {
    outline: auto;
}

/* SEARCH RESULT SCROLLBAR */
::-webkit-scrollbar {
    width: 7px;
}

/* SEARCH RESULT SCROLLBAR HANDLE */
::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    height: 35px;
    border-radius: 100px;
}

/* SEARCH RESULT SCROLLBAR HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
    background-color: #747474;
}

:root {
    --colour-primary-teal: #008080;
    --colour-primary-teal-gradient: #008080, #003838;
    --font-family-header: 'Lilita One', sans-serif;
    --font-family-Body: 'Roboto', sans-serif;
    --colour-white: #fff;
    --container-width: min(80%, 1700px); /* width will be 80% or 1440px max */
    --unit-100vh: 100vh;
}

/* CREDIT: DREW BAKER, STACK OVERFLOW  */
/* https://stackoverflow.com/questions/58886797/how-to-access-the-real-100vh-on-ios-in-css */
/* USES DVH IF BROWSER SUPPORTED FOR BEST UX */
@supports (height: 100dvh) {
    :root {
        --unit-100vh: 100dvh;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* CONTAINER FOR SITE TO FIT WITHIN BROWSER UI */
#container {
    margin: auto;
    min-height: var(--unit-100vh);
    position: relative;
}

/* HEADER */
header {
    height: 100px;
    background-image: linear-gradient(180deg, var(--colour-primary-teal-gradient));
    z-index: 999;
}

/* CONTAINER FOR HEADER MARGINS */
#container-header {
    width: 100%;
    padding: 0 2%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* MAIN CONTENT */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--unit-100vh) - 200px);
    overflow-x: hidden;
    position: relative
}

/* FOR MAP AND PLAY PAGES ONLY */
main.no-overflow {
    overflow: hidden;
}

/* CONTAINER FOR MAP/PLAY INTERACTIVE CONTENT */
#container-content {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

/* NAVIGATION LOGO */
#nav-logo {
    font: 3em var(--font-family-header)
}

#nav-logo a {
    text-decoration: none;
    color: var(--colour-white);
}

/* NAV LINKS */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font: 1.5em var(--font-family-header);
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: var(--colour-white);
}

/* NAV ACTIVE PAGE HIGHLIGHT */
.active-page {
    text-decoration: underline;
    text-underline-offset: 12px;
}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, var(--colour-primary-teal-gradient));
    flex-direction: column;
}

/* GMAPS MAP CONTAINER */
#map {
    height: 100%;
    width: 100%;
}

/* CONTAINER FOR SEARCH AND RESULTS */
#search-container {
    height: 100%;
    width: 40%;
    max-width: 350px;
    min-width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* CONTAINER FOR SEARCH BAR ETC. */
#search-container-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
    box-shadow: 0px 10px 10px -10px #bdbdbd;
}

/* SEARCH BAR INPUT */
#search {
    height: 45px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid var(--colour-primary-teal);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
    padding-inline: 15px;
    font-size: 16px;
    margin-bottom: 5px;
}

/* INVALID SEARCH BAR STYLE */
#search.search-invalid {
    border: 1px solid #cd0000;
    outline: none;
}

/* INVALID SEARCH BAR STYLE FOCUSED */
#search.search-invalid:focus-visible {
    border: 2px solid #cd0000;
    outline: none;
}

/* SEARCH BAR STYLE FOCUSED */
#search:focus-visible {
    border: 2px solid var(--colour-primary-teal);
    outline: none;
}

/* INVALID SEARCH ERROR MESSAGE */
#search-error-message {
    font-family: var(--font-family-Body);
    font-size: 12px;
    color: #cd0000;
}

/* DATA ATTRIBUTION MSG IN MODAL */
.license-disclaimer {
    font-family: var(--font-family-Body);
    font-size: 0.8em;
    color: #3b3b3b;
    margin-top: 20px;
    text-align: center;
}

.footer-icon {
    height: 35px;
}

footer a {
    margin-inline: 15px;
}

/* HIDE MOBILE INTERACTION ON LARGE SCREEN */
#drawer-chevron-container {
    display: none;
}

/* SEARCH RESULTS CONTAINER */
#search-container-results {
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: stretch;
    border-bottom: 1px solid #cecece;
}

/* CONTAINER FOR INDIVIDUAL RESULTS */
.attractionListInfoDiv {
    font: 14px var(--font-family-Body);
    padding: 15px 5px;
    border-bottom: 1px solid #cecece;
}

/* MAP INFOWINDOW */
.info-window-content-container {
    padding: 5px;
}

/* SEARCH RESULT AND INFOWINDOW ATTRACTION NAME STYLE */
h4 {
    font: 16px var(--font-family-header);
    color: var(--colour-primary-teal);
}

/* FLEX CONTAINER FOR ATTRACTION LINK BTNS */
.attraction-info-button-container {
    display: flex;
    flex-direction: row;
}

/* ATTRACTION LINK BTN STYLES */
a.attraction-info-button {
    text-decoration: none;
    color: var(--colour-primary-teal);
    background-color: #f6f6f6;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0px 1px 4px 1px #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ATTRACTION LINK BTN STYLE, INVALID */
div a.attraction-info-button.grey {
    color: #cecece;
}

/* TO DARKEN BACKGROUND WHEN FIRST VISIT MODAL VISIBLE */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 980;
}

/* TO CENTER FIRST VISIT MODAL */
.modal-container {
    width: 100%;
    height: 100%;
    z-index: 990;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* FIRST VISIT MODAL STYLES */
.first-visit-modal {
    width: min(70%, 500px);
    max-height: 70%;
    background-color: var(--colour-white);
    border: 2px solid var(--colour-primary-teal);
    display: none;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    padding: 40px 20px;
    opacity: 0.01;
    transition: opacity 0.5s;
}

/* LINE BREAK USED UNDER HEADERS */
.decorative-line-break {
    width: 30px;
    border: 1px solid var(--colour-primary-teal);
    border-radius: 100px;
    margin: 15px 0;
}

/* FLEX CONTAINER TO POSITION MODAL CTAS */
#modal-cta-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.primary-cta {
    font-family: var(--font-family-header);
    font-size: 1.25em;
    text-decoration: none;
    color: var(--colour-white);
    background-image: linear-gradient(180deg, var(--colour-primary-teal-gradient));
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    padding: 7px 25px;
    border-radius: 100px;
    text-align: center;
    border: none;
}

.secondary-cta {
    color: var(--colour-primary-teal);
    background-color: var(--colour-white);
    border: 1px solid var(--colour-primary-teal);
    background-image: none;
}

/* APPLY BELOW CLASSES ON FIRST VISIT TO SHOW MODAL */
.modal-container-visible {
    display: flex;
}

.modal-visible {
    display: flex;
    opacity: 1;
}

.modal-overlay-visible {
    display: block;
    opacity: 0.4;
}

h3 {
    font-family: var(--font-family-header);
    font-size: 2em;
    color: var(--colour-primary-teal);
    text-align: center;
}

#first-visit-modal-paragraph {
    font-family: var(--font-family-header);
    font-size: 1em;
    color: #3b3b3b;
    text-align: center;
    margin: 0 15px 25px;
}

/* MAP INFOWINDOW STYLE */
.gm-style-iw-d {
    padding: 10px;
}

#game-container {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/* SHOWN ON GAME INTRO */
.game-container-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: var(--colour-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* GAME INTRO TEXT */
.game-text-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

/* GAME INTRO HEADER */
.game-text-content-header {
    font-family: var(--font-family-header);
    font-size: 2.5em;
    color: var(--colour-primary-teal);
    margin: 0.6em;
}

/* SCOREBOARD SCORE HEADER */
#game-street-container>div.game-scoreboard>div>h2 {
    margin-bottom: 0em;
}

/* SECONDARY SCOREBOARD TEXT */
.game-text-content-paragraph {
    font-family: var(--font-family-Body);
    font-size: 1em;
    width: 80%;
}

/* PLAY BUTTON */
.game-play-button {
    width: min(80%, 350px);
    min-height: 2em;
    border-radius: 10px;
    background-image: linear-gradient(180deg, var(--colour-primary-teal-gradient));
    font-family: var(--font-family-header);
    font-size: 1.5em;
    color: var(--colour-white);
    margin: 1em;
    border: none;
}

/* FINAL ROUND PLAY AGAIN BTN */
.game-play-again-button {
    width: min(80%, 350px);
    min-height: 2em;
    border-radius: 10px;
    background-color: var(--colour-white);
    font-family: var(--font-family-header);
    font-size: 1.5em;
    color: var(--colour-primary-teal);
    margin: 1em;
    border: none;
}

/* PLAY BTN ON CLICK */
.game-play-button:active {
    background-image: linear-gradient(0deg, var(--colour-primary-teal), #019c9c);
}

/* CONTAINER FOR GAME MAP */
#game-map-container {
    flex-grow: 1;

    /* FLEX STYLES REQUIRED FOR ACCESSIBLE CONTROLS CROSSHAIRS */
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* CONTAINER FOR GAME STREETVIEW */
#game-street-container {
    flex-grow: 1;
}

.game-scoreboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colour-white);
    z-index: 999;
    position: absolute;
}

.game-round-number {
    margin: 0.4em
}

/* CONTAINER FOR CONTENT ON CONTACT/ABOUT PAGE */
.about-contact-container {
    width: 50%;
    margin: 20px 12% 20px 0;
    flex: 2;
    padding-bottom: 20px;
}

/* FOR CONTACT FORM INPUTS */
.input-container {
    display: flex;
    gap: 10px;
}

#search-bar-container {
    display: flex;
    flex-direction: column;
}

#search-bar-container.hidden {
    display: none;
}

/* IMG CONTAINER ABOUT/CONTACT PAGES */
#about-contact-img-container {
    max-width: 30%;
    height: 100%;
    box-shadow: inset 15px 0px 20px -15px rgba(0, 0, 0, 0.25);
    z-index: -1;
    flex: 1;
    overflow-x: visible;
    overflow-y: clip;
}

#about-contact-img {
    z-index: 0;
    min-height: 100%;
}

/* CONTACT FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.text-input {
    height: 45px;
    width: 100%;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
    padding-inline: 15px;
    font-size: 16px;
    font-family: var(--font-family-Body);
}

.text-input:focus-visible {
    border: 2px solid var(--colour-primary-teal);
    outline: none;
}

textarea.text-input {
    border-radius: 22.5px;
    padding: 15px;
    width: 100%;
    height: 200px;
    resize: none;
}

h1 {
    font-family: var(--font-family-header);
    color: var(--colour-primary-teal);
    font-size: 3em;
}

/* TEXT CONTENT ON ABOUT/CONTACT */
.about-contact-paragraph {
    font-family: var(--font-family-Body);
    font-size: 1em;
    color: #3b3b3b;
    margin: 25px 0;
    max-width: 80%;
}

#container-about-contact-page {
    width: var(--container-width);
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

/* HIDE LABELS BUT ADD FOR ACCESSIBILITY */
label {
    visibility: hidden;
    position: absolute;
    left: -99999px;
}

/* INLINE LINK TEXT STYLE */
.inline-link {
    text-decoration: none;
    color: var(--colour-primary-teal);
}

/* CONTACT FORM SUBMISSION FEEDBACK POPUP */
#contact-feedback-overlay {
    width: 101%;
    height: 101%;
    background-color: var(--colour-white);
    z-index: 999;
    position: absolute;
    border-radius: 20px;
    display: flex;
    visibility: hidden;
    padding: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-header);
    color: var(--colour-primary-teal);
    font-size: 1.2em;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.5s;
}

/* SHOW ON SUCCESSFUL SUBMIT */
#contact-feedback-overlay.submit {
    opacity: 1;
    visibility: visible;
}

.hidden {
    display: none !important;
}

/* ACCESSIBLE CTRLS FOR GAME */
#accessible-control-toggle {
    background-image: url(/assets/img/icons/keyboard-ctrls-icon.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;
    width: 40px;
    height: 40px;
    margin: 10px 0;
    border-radius: 2px;
    cursor: pointer;
    border: 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

/* ADDS BORDER WHEN ENABLED */
.accessible-control-toggle-on {
    border: 3px solid var(--colour-primary-teal) !important;
}

/* ACCESSIBLE CTRL GUESS BTN */
#accessible-guess-button {
    width: 220px;
    height: 40px;
    background-color: var(--colour-primary-teal);
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-family-Body);
    border-radius: 100px;
    color: var(--colour-white);
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 10px -1px;
    margin: 10px;
}

/* ACCESSIBLE CTRL CROSSHAIR */
.map-crosshair {
    border: 2px solid rgb(255, 0, 0);
    position: absolute;
    width: 20%;
    z-index: 9999;
    border-radius: 100px;
}

/* API/FETCH ERROR MESSAGE STYLING */
main > p {
    font-family: var(--font-family-Body);
    text-align: center;
    margin: 10%;
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: var(--colour-white);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--colour-primary-teal);
    font-size: 1.5em;
    z-index: 999;
}

/* TABLET */
@media (max-width: 1024px) {

    header {
        height: 65px;
    }

    main {
        height: calc(var(--unit-100vh) - 130px);
        /* MINUS HEADER + FOOTER HEIGHT */
    }

    footer {
        height: 65px;
    }

    #container-header-contact-about-page {
        width: 90%;
    }

    #container-content {
        width: 100%;
    }
    
    #container-about-contact-page {
        width: 90%;
    }

    #nav-logo {
        font-size: 2.3em;
    }

    .input-container {
        flex-direction: column;
    }

    h1 {
        font-size: 2.3em;
    }

    textarea.text-input {
        height: 120px;
    }

    .about-contact-container {
        width: 65%;
        margin: 20px 6% 20px 0;
    }
}

@media (max-width: 768px) {

    nav ul {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    textarea.text-input {
        height: 100px;
    }

    .about-contact-container {
        width: 70%;
    }

    .game-text-content-header {
        font-family: var(--font-family-header);
        font-size: 1.8em;
        color: var(--colour-primary-teal);
        margin: 0.3em;
    }

    .game-text-content-paragraph {
        font-family: var(--font-family-Body);
        font-size: 1em;
        width: 90%;
    }

    .game-round-number {
        margin: 0.3em;
        font-size: 1em;
    }

    .game-play-button {
        font-size: 1em;
        margin: 0.5em;
    }

    .game-play-again-button {
        font-size: 1em;
        margin: 0.5em;
    }

    .about-contact-paragraph {
        font-size: 0.9em;
        margin: 20px 0;
    }

    #container-header {
        padding: 0 3%;
    }

}

/* MOBILE */
@media (max-width: 550px),
(max-height: 550px) {

    header {
        height: 50px;
    }

    nav ul {
        font-size: 1em;
    }

    #nav-logo {
        font-size: 1.6em;
    }

    footer {
        height: 50px;
        box-shadow: 0px -4px 12px 1px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .footer-icon {
        height: 25px;
    }

    main {
        height: calc(var(--unit-100vh) - 100px);
        /* MINUS HEADER + FOOTER HEIGHT */
    }

    /* REPOSITION SEARCH CONTAINER TO MAKE DRAWER */
    #search-container {
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: var(--colour-white);
        min-width: 100%;
        height: 60px;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        transition: height 0.5s;
        overflow: hidden;
    }

    #search-container-head {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #search-container.search-container-open {
        height: 100%;
    }

    #search-container-results {
        height: 0.1px;
        transition: height 0.3s;
    }

    #search-container-results.search-container-results-open {
        height: 100%;
    }

    #search {
        display: none;
    }

    #search-bar-container {
        display: none;
    }

    #search-bar-container.visible {
        display: flex;
        flex-direction: column;
    }

    #search.search-open {
        display: block;
        margin: 10px 0;
    }

    #container-content {
        width: 100%;
    }

    /* EXTEND MAP SIZE FOR SMALL SCREENS */
    #map {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .gmnoprint {
        display: none;
    }

    #drawer-chevron-container {
        display: block;
        margin-inline: auto;
    }

    #drawer-chevron {
        height: 30px;
        transition: transform 0.3s;
    }

    #drawer-chevron.drawer-chevron-open {
        transform: rotate(180deg);
    }

    #game-container,
    .game-container-overlay {
        height: 100%;
        border-radius: 0;
    }

    .game-text-content-header {
        font-size: 2.5em;
    }

    .game-text-content-paragraph {
        font-size: 1.1em;
    }

    #about-contact-img-container {
        display: none;
    }

    #container-about-contact-page {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-contact-container {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    h1,
    .about-contact-paragraph {
        text-align: center;
        margin: 30px auto;
    }

    h1 {
        font-size: 1.7em;
    }

    .about-contact-paragraph {
        font-size: 0.85em;
    }

    .game-text-content-header {
        font-family: var(--font-family-header);
        font-size: 1.6em;
        color: var(--colour-primary-teal);
        margin: 0.2em;
    }


    .game-text-content-paragraph {
        font-family: var(--font-family-Body);
        font-size: 1em;
        width: 90%;
    }

    .game-round-number {
        margin: 0.3em;
        font-size: 1.2em;
    }

    .game-play-button {
        min-height: 2.5em;
    }

    .game-play-again-button {
        min-height: 2.5em;
    }

    .active-page {
        text-underline-offset: 6px;
    }

    #container-header {
        padding: 0 5%;
    }
}

@media (max-width: 395px) {
    nav ul {
        font-size: 0.9em;
        gap: 20px;
    }
}

/* DISPLAYS GAME LAYOUT OPTIMALLY FOR PORTRAIT/LANDSCAPE ORIENTATION */
@media (min-aspect-ratio: 7/5) {
    #game-container {
        flex-direction: row;
    }
}