* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    /* remove webkit styles */
    /* border: 1px solid black; */
}

:root {
    --colour-primary-teal: #008080;
    --colour-primary-teal-gradient: #008080, #003838;
    --font-family-header: 'Lilita One', cursive;
    --colour-white: #fff;
    --container-width: min(80%, 1700px);
    /* width will be 80% or 1440px max */
}

#container {
    /* width: var(--container-width); width will be 80% or 1440px max */
    margin: auto;
    height: 100vh;
    position: relative;
}

header {
    height: 100px;
    background-image: linear-gradient(180deg, var(--colour-primary-teal-gradient));
}

#content-wrapper {
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
}

#container-header {
    width: var(--container-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    /* border: 2px solid red; */
    /* align-items: stretch; */
}

#container-content {
    width: var(--container-width);
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#nav-logo {
    font: 3em var(--font-family-header)
}

#nav-logo a {
    text-decoration: none;
    color: var(--colour-white);
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font: 1.5em var(--font-family-header);
    color: var(--colour-white);
    /* width: 500px; */
}

nav a {
    text-decoration: none;
}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, var(--colour-primary-teal-gradient));
}

#map {
    height: 90%;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 0px 20px 20px 0px;
}

#content-underlay {
    width: 100%;
    height: 90%;
    /* border: 5px solid red; */
    position: absolute;
    z-index: -1;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#search-container {
    height: 90%;
    padding: 15px;
    /* border: 1px solid red; */
}

#search {
    height: 45px;
    width: 250px;
    border-radius: 100px;
    border: 1px solid var(--colour-primary-teal);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
    padding-inline: 15px;
    font-size: 16px;
}

#search:focus-visible {
    outline: 2px solid var(--colour-primary-teal);
}

.footer-icon {
    height: 35px;
}

footer a {
    margin-inline: 15px;
}

@media (max-width: 1024px) {
    nav {
        width: 45%;
    }
}

@media (max-width: 768px) {

    /* nav {
        width: 55%;
    } */
    nav ul {
        font-size: 1.2em;
    }
}

/* MOBILE */
@media (max-width: 550px) {
    /* nav {
        width: 55%;
    } */

    header {
        height: 60px;
    }

    nav ul {
        font-size: 0.8em;
    }

    #nav-logo {
        font-size: 2em;
    }

    footer {
        height: 60px;
    }

    main {
        height: calc(100vh - 120px);
    }

    #search-container {
        position: absolute;
        bottom: 0;
        z-index: 1;
        background-color: var(--colour-white);
        width: 100%;
        height: 15%;
    }

    #container-content {
        width: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    .gmnoprint,
    .gm-control-active,
    .gm-fullscreen-control {
        display: none;
    }
}